@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Comfortaa", cursive;
  margin: 0;
  transition: 0.5s all;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}
#cv-form {
  /* display: none; */
}
img {
  max-width: 100%;
  height: auto;
}

#cv-template {
  display: none;
}
.profile {
  border-radius: 50%;
  width: 200px;
}
.fc {
  background-color: #2b3a51;
  border-radius: 10px 0 0 10px;
  color: #fff !important;
}
.fc p {
  margin: 0;
  font-weight: 300;
}
.about_me {
  text-decoration: underline !important;
}
.sc {
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  border: 1px solid #999;
}
#Tjob {
  text-align: center !important;
  font-size: 1.2rem;
}
.scale-cv #print-cv,
.scale-cv #edit-cv {
  display: none;
}
.scale-cv .container {
  max-width: 595px;
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1420px !important;
  }
}
